/* blog.css */
* {
    box-sizing: border-box
}

body {
    margin: 0;
    font-family: system-ui, Arial;
    background: #fafafa;
    color: #111
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: #fff;
    border-bottom: 1px solid #eee
}

.layout {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas: "sidebar content";
    gap: 1rem;
    padding: 1rem
}

/* areas */
.sidebar {
    grid-area: sidebar;
    background: #fff;
    padding: 1rem;
    border-radius: 6px;
    border: 1px solid #eee
}

.content {
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem
}

.post {
    background: #fff;
    padding: 1rem;
    border-radius: 6px;
    border: 1px solid #eee
}

/* footer */
.site-footer {
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
    background: #fff;
    border-top: 1px solid #eee
}

/* move sidebar below main below 800px */
@media (max-width:800px) {
    .layout {
        grid-template-columns: 1fr;
        grid-template-areas: "content" "sidebar"
    }

    .content {
        grid-template-columns: 1fr
    }
}