/* loading.css */
* {
    box-sizing: border-box
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f8fafc
}

.loader {
    display: flex;
    gap: .6rem;
    align-items: flex-end
}

.dot {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #2b6cb0;
    animation: move 800ms ease-in-out infinite
}

.d1 {
    animation-delay: 0ms
}

.d2 {
    animation-delay: 120ms
}

.d3 {
    animation-delay: 240ms
}

@keyframes move {
    0% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(-18px)
    }

    100% {
        transform: translateY(0)
    }
}